<div
class="footer bg-black d-flex justify-content-evenly align-items-center flex-wrap flex-md-nowrap text-white fs-5 display-6 text-capitalize flex-column flex-md-row">

    <div class="socialmedia-links flex-grow-1 p-4 text-white">
        <div>
            <h4 class="py-4 px-1 fs-2 fw-bold">بيانات التواصل</h4>
            <p class="fs-5 d-flex" style="line-height: 31px;">
                <i class="bi bi-geo-alt-fill text-success"></i>
                 <span class="d-inline-block px-2">عمارات جراند بيلدلينج ( أ )- الدور الاول - سموحة جرين بلازا
                    الأسكندرية, مصر</span>
            </p>
            <p class="fs-5 d-flex">
                <i class="bi bi-telephone-fill text-success"></i>
                <span class="d-inline-block px-2">034244251 002</span>
            </p>
        </div>

    </div>
    
    <div class="logo flex-grow-1 p-4 text-center">
        <img src="/assets/images/logo.png" class="w-50" alt="Aramco Agriculture">
        <p class="text-center fs-6 pt-3">
            ارامكو للتنمية الزراعية هي شركة رائدة في مجال التنمية الزراعية
            
        </p>
    </div>
    
    <div class="location flex-grow-1 p-4 text-white text-center">
        <h4 class="text-center py-4 fs-5 fw-bold">تابعونا على مواقع التواصل الاجتماعي</h4>
        <div class="text-center mx-auto my-2">
            <a href="facebook.com" class="text-white mx-2 d-inline-block"><i class="bi bi-facebook"></i></a>
            <a href="twitter.com" class="text-white mx-2 d-inline-block"><i class="bi bi-twitter"></i></a>
            <a href="youtube.com" class="text-white mx-2 d-inline-block"><i class="bi bi-youtube"></i></a>
            <a href="linkedin.com" class="text-white mx-2 d-inline-block"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</div>