<div
class="footer bg-black d-flex justify-content-around align-items-center flex-wrap flex-md-nowrap text-white fs-5 display-6 text-capitalize flex-column flex-md-row">

    <div class="socialmedia-links flex-grow-1 p-4 text-white">
        <div>
            <h4 class="text-center py-4 fs-4">بيانات التواصل</h4>
            <p class="fs-6 d-flex">
                <i class="bi bi-geo-alt-fill text-success"></i>
                 <span class="d-inline-block px-2">عمارات جراند بيلدلينج ( أ )- الدور الاول - سموحة جرين بلازا
                    الأسكندرية, مصر</span>
            </p>
            <p class="fs-6 d-flex">
                <i class="bi bi-telephone-fill text-success"></i>
                <span class="d-inline-block px-2">034244251 002</span>
            </p>
        </div>

    </div>
    
    <div class="logo flex-grow-1 p-4 text-center">
        <img src="/assets/images/logo.png" class="w-50" alt="Aramco Agriculture">
        <p class="text-center fs-6 pt-3">
            ارامكو للتنمية الزراعية هي شركة رائدة في مجال التنمية الزراعية
            
        </p>
    </div>
    
    <div class="location flex-grow-1 p-4 text-white text-center">
        <h4 class="text-center py-4 fs-6">تابعونا على مواقع التواصل الاجتماعي</h4>
        <div class="text-center mx-auto my-2">
            <a href="facebook.com" class="text-white mx-2 d-inline-block"><i class="bi bi-facebook"></i></a>
            <a href="twitter.com" class="text-white mx-2 d-inline-block"><i class="bi bi-twitter"></i></a>
            <a href="youtube.com" class="text-white mx-2 d-inline-block"><i class="bi bi-youtube"></i></a>
            <a href="linkedin.com" class="text-white mx-2 d-inline-block"><i class="bi bi-linkedin"></i></a>
        </div>
        <!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d214.00354090474443!2d30.668634501470883!3d30.88507607657466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f639542fb0cc41%3A0x1d2298b2527eaf2f!2z2YXZitiv2YrYpyDYrNmE2Ygg2YTZhNiv2LnYp9mK2Kkg2YjYp9mE2KfYudmE2KfZhiBNZWRpYSBHbG93!5e0!3m2!1sar!2seg!4v1717661820895!5m2!1sar!2seg"
            width="50%" height="auto" style="border:0;" allowfullscreen="true" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    </div>
</div>