.footer {
    direction: rtl;
    /* min-height: 350px; */
    padding: 21px;
}

.socialmedia-links {
    width: 25%;
}

.logo {
    width: 50%;
    border: 21px solid #49a760 ;
    border-style: inset;
    border-top-left-radius: 92px;
    border-bottom-right-radius: 72px;
}

.location {
    width: 25%;
}

.location iframe {
    border-radius: 17px;
}

@media only screen and (max-width: 767px) {
    .footer > div {
        width: auto;
    }
}