.wrapper {
    background: #1d6f47;
}

.footer {
    direction: rtl;
    padding: 21px;
}

.footer-part {
    min-width: 275px;

}

.special-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-part h4 {
    border-bottom: 3px inset #fff;
    border-bottom-style: groove;
}
.contact-link {
    transition: all 200ms ease;
}
.contact-link:hover {
    color: #4de04d!important;
}

.socialmedia-links i {
    font-size: 1.5rem;
}

.socialmedia-links i:hover {
    color: #000;
}
.copyright {
    background-color: #0a4427;
}