<!-- Navbar -->
<div class="navbar-shadow fixed-top">
  <!-- top vanbar for conatcts info -->
  <!-- main navbar -->
  <nav class="main-navbar navbar navbar-expand-md navbar-light text-dark bg-white pt-2">
    <div class="container">
      <a class="navbar-brand  text-primary" href="#" [routerLink]="['/']">
        <img src="./assets/images/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header me-auto">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body justify-content-evenly">
          <ul class="navbar-nav justify-content-around flex-grow-1 pe-3">
            <!-- home -->
            <li class="nav-item text-dark">
              <a class="nav-link text-dark active" [routerLink]="['/']" data-bs-dismiss="offcanvas" aria-label="Close">الرئيسية</a>
            </li>
            <!-- our products -->
            <li class="nav-item relative-dropdown">
              <a class="nav-link" [routerLink]="['/company-hloder']" (mouseenter)="hello()" data-bs-dismiss="offcanvas" aria-label="Close">
                المنتجات
              </a>
              @if (mouseIn) {
                <ul class="dropdown p-4 rounded bg-white" (mouseleave)="goodbye()">
                  <li class="p-3"><a href="#" (click)="goodbye()" class="text-decoration-none" [routerLink]="['/companies']" data-bs-dismiss="offcanvas" aria-label="Close">الشركات</a></li>
                  <li class="p-3"><a href="#" (click)="goodbye()" class="text-decoration-none" [routerLink]="['/agents']" data-bs-dismiss="offcanvas" aria-label="Close">الوكالات</a></li>
                </ul>
              }
            </li>

            <!-- who is us  -->
            <li class="nav-item">
              <a class="nav-link text-dark" href="#" [routerLink]="['/whoIsUs']" data-bs-dismiss="offcanvas" aria-label="Close"> من نحن</a>
            </li>
            
            </ul>
            <!-- jops  -->
            <a class="contact-us" href="#" [routerLink]="['/jops']" data-bs-dismiss="offcanvas" aria-label="Close">الوظائف</a>
          <!-- contact us -->
          <a class="contact-us" href="#" [routerLink]="['/contactUs']" data-bs-dismiss="offcanvas" aria-label="Close">تواصل معنا</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- navbar background border smooth -->
  <div class="navbar-border d-none-md"></div>
</div>
