<div class="product">
    <div class="page-overlay">
        <h2 class="text-center h2 display-5 pb-3 fw-semibold text-success">
            <span class="name-of-page fw-bold display-3"></span>
        </h2>
        <div class="details-container container-md d-flex justify-content-around align-items-center flex-wrap ">
            <div class="flex-grow-1 ">
                <img class="product-details-img rounded" src="/assets/images/bg.jpg" alt="">
                <h2 class="fw-bolder fs-4 py-2">اسم المنتج</h2>
                <p>وظيفة المنتج ووصفة</p>
            </div>
            <div class="flex-grow-1 product-details-title px-5">
                <h3>المواد الفعالة</h3>
                <ul>
                    <li>المادة الفعالة 1</li>
                    <li>المادة الفعالة 2</li>
                    <li>المادة الفعالة 3</li>
                    <li>المادة الفعالة 4</li>
                    <li>المادة الفعالة 5</li>
                </ul>
                <h3>الاستخدام</h3>
                <p>طريقة الاستخدام</p>
                <h3>PHI</h3>
                <p>طريقة الاستخدام</p>
            </div>
        </div>
    </div>
</div>