<div class="product">
    <div class="page-overlay">
        <h2 class="text-center h2 display-5 pb-3 fw-semibold text-success">
            <span class="name-of-page fw-bold display-3"></span>
        </h2>
        <div class="details-container container-md d-flex justify-content-center flex-wrap">
            <div class="flex-grow-1">
                <img class="product-details-img" src="/assets/images/bg.jpg" alt="">
            </div>
            <div class="flex-grow-1">
                <div class="py-3 text-center border-bottom  display-6 fs-2">
                    <h2 class="fw-bold">اسم المنتج</h2>
                    <h2 class="fs-5">الشركة / القسم </h2>
                </div>
                <div class="product-details-title px-5">
                    <p>وصف المنتج </p>
                    <h3>المواد الفعالة</h3>
                    <ul>
                        <li>المادة الفعالة 1</li>
                        <li>المادة الفعالة 2</li>
                        <li>المادة الفعالة 3</li>
                        <li>المادة الفعالة 4</li>
                        <li>المادة الفعالة 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>