<div class="company">
    <div class="page-overlay">
        <h2 class="text-center h2 display-5 pb-3 fw-semibold text-success">
            <span class="name-of-page fw-bold display-3">
             الشركات
            </span>
        </h2>
    </div>

    <div>
        <!-- <div class="shadow-image"></div> -->
        <div class="d-flex flex-wrap justify-content-evenly py-5">
            @for (depratment of depratments; track $index) {
            <a [routerLink]="['/departments']" class="company card text-decoration-none user-select-none cursor-pointer m-3 text-center">
                <div class="card-image">
                    <img class="card-img-top" [src]="depratment.image" alt="image-name" />
                </div>
                <div class="card-body">
                    <h6 class="card-title fw-bolder">{{depratment.name}}</h6>
                    <h6>{{'اسم البلد'}}</h6>
                </div>
            </a>
            }
        </div>
    </div>

</div>