
.company {
    margin-top: 50px;
    direction: rtl;
    /* background-color: #eff7fd; */
    background-color: #FFF;
}

.page-overlay {
    /* padding-bottom: 100px; */
    font-family: 'Courier New', Courier, monospace;
    background-image: url('/assets/images/bg.jpg');
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}
.company h2 {
    padding-bottom: 50px!important;
    background-color: #000000c7;
}

.name-of-page {
    display: inline-block;
    margin-top: 195px !important;
    margin-bottom: 27px;
    padding: 14px 21px;
    border-radius: 7px;
    color: #49a760;
    /* background-color: rgba(73, 167, 96, 97%); */
    box-shadow: 0px 0px 1px #ddd;
    min-width: 270px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-shadow: 0.5px 0.5px 1px #FFF;
}

.shadow-image {
    width: 100%;
    height: 51px;
    background-image: url('/assets/images/navbar.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin-top: -50px;
    margin-bottom: 21px;
    transform: rotate(180deg);

}

.company .card {
    width: 32%;
    min-width: 170px;
    max-width: 371px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.card-body {
    /* border-top: 2px solid #49a760; */
    overflow: hidden;
    background-color: #49a760;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    width: 0;
    /* height: 0; */
    transition: all 300ms ease-in;
    overflow: hidden;
}

.company .card:hover .overlay {
    content: "";
    width: 101%;
    height: 101%;
    background-color: rgba(73, 167, 96, 97%);
}

.company .card:hover .overlay-data {
    display: block;
}

.overlay .overlay-data {
    display: none;
}

.card-image {
    height: 171px;
    width: 100%;
    overflow: hidden;
}

.company .card-img-top {
    height: 171px;
    width: 100%;
    transition: all 200ms ease;
}

.company .card:hover .card-img-top {
    transform: scale(1.3);
}

@media only screen and (max-width:401px) {
    .company {
        margin-top: 125px;
    }
    .shadow-image {
        display: none;
    }

}