<div class="products">
    <div class="page-overlay">
        <h2 class="text-center h2 display-5 pb-3 fw-semibold text-success">
            <span class="name-of-page fw-bold display-3">
             المنتجات
            </span>
        </h2>
    </div>

    <div>
        <div class="shadow-image"></div>
        <div class="container-md d-flex flex-wrap justify-content-evenly ">
            @for (depratment of depratments; track $index) {
            <a href="#" [routerLink]="['/product-details']" class="card text-decoration-none user-select-none cursor-pointer m-3 text-center">
                <img class="card-img-top" [src]="depratment.image" alt="image-name" />
                <div class="card-body">
                    <h6 class="card-title fw-bolder">{{depratment.name}}</h6>
                </div>
                <div class="overlay d-flex justify-content-center align-items-center">
                    <span class="text-center overlay-data fw-bold text-white">
                        <i class="bi bi-eye-fill"></i>
                        <br>
                        عرض المنتجات
                    </span>
                </div>
            </a>
            }
        </div>
    </div>

</div>