<div class="ourcomapny">
    <div class="name-of-page">
        <h2 class="text-center brand-name">ارامــــكـو للأستثمــار الـزراعــي</h2>
        <h3 class="text-center pt-3">معا لمستقبل مشرق </h3>
    </div>
    <div class="data-about-us container my-2" id="accordion-link">
        <p-accordion [activeIndex]="0" class="custom-accordion">
            <p-accordionTab header="ارامكو للتنمية الزراعية" class="custom-accordion-tab">
                <p>
                    المجموعة الأوروبية هى مجموعة شركات رائدة فى مجال التنمية الزراعية وإستـيـراد المبيدات الزراعية و
                    منظـمات الـنـمـو و الاسمدة والـوكيل لـعديد من الشركات العالمية داخل مصر
                    المجمـوعة الأوروبـية شركـة مساهمة مصرية بدأت فى 2009 على يد المهندس محمود زيدان
        
                    حيث بدأت الأوروبية من حيث انتهي الاخرون و تمسكت بعوامل و معطيات التطور و التقدم فكانت لها العيون
                    التي تري الاحداث الزراعية و متغيراتها و كان لها الاذن التي تـسـمـع شـكـوي الــمـزارع و احـتـياجاته و
                    كانت لها العقول التي تبحث و تفكر للوصول الي الحلول المثالية الناجحة و التي تتلائم مع ظروف المزارع
                    المصري و الزراعة المصرية في كل المجالات من الاسمدة و المبيدات و حتي التقاوي و غيرها من المستلزمات
                    الزراعية و ذلك في منظومة عمل لا تكل و لا تمل عن جعل كل ما هو جديد حول العالم في متناول المزارع
                    المصري
                </p>
            </p-accordionTab>
        
            <p-accordionTab header="مهمتنا" class="custom-accordion-tab">
                <ul>
                    <li>الثـقــــة فـي الشـــركـــــة ومــا تقـدمـــــه من خدمـــات أسمـــــى أمــانـيـنـــــــــا.</li>
                    <li>الإسـتـمـــــرار فـي البحــث والتطويــــر وتـقـديـــم الـجــديـــــد دائــمــــــــــــــــــــــاً.</li>
                    <li>تـغـطـيــــة إحـتـيــاجــــات المـــــزارع المصــــري فـي جـمـيــــع ربــــــوع البــــــــلاد.</li>
                    <li>المساهـمــــه الـفـعـالـــة فـــــي دعـــم جـهــــود الــمـــزارع الـصـغـيــــر والـكـبـيــــر
                        وفـي الإرتــــقـــــــــاء بــمــســــــتـــــواه المـــــــــهـنــــــــي والــــــمـــصـــرفـــــــــي.
                    </li>
                </ul>
            </p-accordionTab>
        
            <p-accordionTab header="رؤيتنا" class="custom-accordion-tab">
                <ul>
                    <li>الأخذ بأسباب ومعطيــات التطـور فـي كافة مستلزمـات الإنتاج الزراعي لتوفيرهـا للمزارع المصري ,متوافـقة مع رغباتــه وإمكانياتـه فـي آن واحـد.</li>
                    <li>رفع كفاءة المستلزمات الزراعيـة إلى أقصـى الحدود الممكنه لتناسـب إحـتـياجات المـزارع وتــطورات الأعمـال الـزراعية.</li>
                    <li>تـعـظــيـم قدرة المــزارع على تحديـد متطلباتـه مـن المستلزمـات الزراعية والتمييز بـين الغــث والثمين من خلال وسائل التوعية المستمرة وتبادل الخبـرات.</li>
                    <li>ترسيـخ مفهــوم الأسرة الواحـدة التى تجمـع بين العامليـن بالحقل الزراعي بإختلاف أنشــطته وذلك من خلال التجمعــات والمناسبات الزراعية المختلفــة.</li>
                </ul>
            </p-accordionTab>
            <p-accordionTab header="التنمية المستدامة" class="custom-accordion-tab">
                <div class="custom-accordion-card w-75 mx-auto">
                    <img src="/assets/images/bg.jpg" alt="">
                    <p class="p-4 lh-3">
                        <strong>التنمية المستدامة</strong> 
                        <br>
                        ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من
                    </p>
                </div>

            </p-accordionTab>
            <p-accordionTab header="النمو المستمر" class="custom-accordion-tab">
                <div class="custom-accordion-card w-75 mx-auto">
                    <img src="/assets/images/bg.jpg" alt="">
                    <p class="p-4 lh-3">
                        <strong>النمو المستمر</strong> 
                        <br>
                        ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من
                    </p>
                </div>

            </p-accordionTab>
            <p-accordionTab header="بحث وتطوير آمن على البيئة" class="custom-accordion-tab">
                <div class="custom-accordion-card w-75 mx-auto">
                    <img src="/assets/images/bg.jpg" alt="">
                    <p class="p-4 lh-3">
                        <strong>بحث وتطوير آمن على البيئة</strong> 
                        <br>
                        ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من
                    </p>
                </div>

            </p-accordionTab>
        </p-accordion>
        
    </div>
</div>