<div class="contact-us">
    <!-- <h2 class="text-center pb-5 mb-5">تــواصل معــنا</h2> -->
    <div class="d-flex justify-content-between contact-us-container align-items-stretch flex-wrap-reverse">
        <div class="contacts-info overflow-hidden flex-grow-1">
            <h2 class="py-3">معلومات <br> التواصل والعنوان</h2>
            <p class="py-3 title">
                خدمتك أولويتنا ونسعد بتواصلك معنا دائماً. يرجى يرجى ملء النموذج وسنتواصل معك في أقرب وقت ممكن.    
            </p>
            <div class="py-2">
                <h3 class="m-0">الخط الساخن</h3>
                <a href="tel:+201000000000" class="text-white text-decoration-none">201000000000+</a>
            </div>
            <div class="py-2">
                <h3 class="m-0">الموقع</h3>
                <p>
                    أبراج جراند - برج (أ) - سموحة
                    الأسكندرية, مصر
                </p>
            </div>
            <div class="py-2">
                <h3 class="m-0">البريد الالكترونى</h3>
                <p>
                    <a href="mailto:info@aramco-agri.com"  class="text-white text-decoration-none">info{{'@'}}aramco-agri.com</a>
                </p>
            </div>
            <img src="/assets/images/flower.png" alt="flower" class="flower">
        </div>
        <div class="form-info flex-grow-1">
            <form action="" class="bg-white p-4">
                <p>لديك سؤال ؟</p>
                <h2 class="pb-3">ارسل لنا رسالة</h2>
                <div class="my-3">
                    <input type="text" name="name" class="form-control form-control-lg mx-1" id="name" required  placeholder="الاسم">
                </div>
                <div class="d-flex my-3">
                    <input type="text" name="email" class="form-control form-control-lg ms-1" id="email" required  placeholder="البريد الالكتروني">
                    <input type="text" name="tel" class="form-control form-control-lg ms-1" id="tel"  required placeholder="رقم الهاتف">
                </div>
                <textarea rows="3" name="message" id="message" class="form-control form-control-lg my-3" required  placeholder="رسالتك"></textarea>

                <button class="btn btn-success btn-lg d-block mx-auto mt-4 mb-2">ارسال</button>
            </form>
            <img src="/assets/images/farmer-conatc-us.png" class="farmer-contact-us" alt="farmer image">
        </div>
    </div>
</div>