<div class="header">
    <div class="container data-holder flex-md-wrap d-flex">
        <!-- <img src="/assets/images/tree.png" class="tree-root" alt="tree root"> -->
        <div class="badge">
            <div class="curve-text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" version="1.1">
                    <path id="textPath" d="M 0,75 a 75,75 0 1,1 0,1 z"></path>
                    <text>
                        <textPath href="#textPath">100% high quality</textPath>
                    </text>
                </svg>
                <a href="#" class="popup-youtube">
                    <i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
        </div>

        <div class="info">
            <h2><strong>Aramco</strong> Agriculture Products</h2>
            <p>We specialize in providing high-quality agricultural pesticides to protect crops and enhance yields.</p>
                <div class="text-center">
                    <a class="btn btn-success btn-md radius animation" [routerLink]="['/contactUs']" href="#">Discover More</a>
                </div>
        </div>
    </div>
</div>

<div class="companies">
    <h2 class="py-5 text-center fw-bold address">شركائنا فى التقدم والتطور</h2>
    <app-carousel></app-carousel>
</div>

<div class="showing-data viewHeight d-flex flex-wrap justify-content-center">
    <div class="showing-data-images mx-auto flex-grow-1">
        <img src="/assets/images/bg.jpg" alt="">
    </div>
    <div class="showing-data-info mx-auto flex-grow-1 px-4">
        <h2 class="dark py-3">منتجاتنا عالية الجودة</h2>
        <p class="light py-3"> نسعي دائما لرفع كفاءة المستلزمات الزراعيـة إلى أقصـى الحدود الممكنه لتناسـب إحـتـياجات المـزارع وتــطورات الأعمـال الـزراعية.</p>
        <div class="special-cards d-flex flex-wrap flex-sm-nowrap">
            <div class="card shadow-none bg-success orange-card mx-1 flex-grow-1">
                <img src="/assets/images/card-icon-green.png" width="75px" height="75px" alt="">
                <h3 class="py-4">منتجات امنة</h3>
                <p>نقدم مبيدات زراعية امنة لتكون ذات سلامة عالية للمحاصيل والبيئة.</p>
            </div>
            <div class="card bg-warning green-card mx-1 flex-grow-1">
                <img src="/assets/images/card-icon-orange.png" width="75px" height="75px" alt="">
                <h3 class="py-4">زراعة مستدامة</h3>
                <p>نقم حلول تعتمد على ممارسات مستدامة وتعزز صحة الأراضي والمحاصيل</p>
            </div>
        </div>
    </div>
</div>

<div class="fixed-attachments">
    <div class="container d-flex align-items-center flex-wrap">
        <div class="card group-attached-card m-3 py-3 text-center">
            <i class="bi bi-eye-fill text-primary fs-2"></i>
            <h2 class="fw-bold w-75 mx-auto  pb-4 border-bottom">رؤيتنا</h2>
            <p class="p-3 fs-5 fw-bold">تـغـطـيــــة إحـتـيــاجــــات المـــــزارع المصــــري فـي جـمـيــــع ربــــــوع البــــــــلاد.</p>
            <br>
        </div>
        
        <div class="card group-attached-card m-3 py-3 text-center">
            <i class="bi bi-briefcase-fill text-success fs-2"></i>
            <h2 class="fw-bold w-75 mx-auto  pb-4 border-bottom">التقنيات المستخدمة</h2>
            <p class="p-3 fs-5 fw-bold">نستخدم أحدث التقنيات والتكنولوجيا الحديثة</p>
            <br>
        </div>

        <div class="card group-attached-card m-3 py-3 text-center">
            <i class="bi bi-star-fill text-warning fs-2"></i>
            <h2 class="fw-bold w-75 mx-auto  pb-4 border-bottom">مهمتنا</h2>
            <p class="p-3 fs-5 fw-bold">بحث وتطوير المنتجات والتأكدمن تلبيتها لإحتياجات السوق المصرى.</p>
            <br>
        </div>
    </div>
</div>


<h2 class="text-center pt-5 sperator">لية تختار ارامكو ؟</h2>
<div class="showing-data d-flex flex-wrap justify-content-center">
    <div class="showing-data-info text-center mx-auto flex-grow-1 px-4">
        <h2 class="dark py-3">لأننا مميزين فى جميع المجالات الزراعية</h2>
        <ul class="text-start">
            <li class="light text-start"><b class="d-block">منتجات عالية الجودة</b> نقدم مبيدات زراعية ذات فعالية وجودة عالية لضمان حماية المحاصيل وزيادة الإنتاجية.</li>
<li class="light text-start"><b class="d-block">خبرائنا</b> فريقنا المتخصص يقدم إرشادات ونصائح مهنية لاختيار الحلول الأمثل لمكافحة الآفات. </li>
<li class="light text-start"><b class="d-block">تقنيات مبتكرة</b> نستخدم أحدث التقنيات لضمان فعالية وسلامة منتجاتنا في مكافحة الآفات الزراعيli.
<li class="light text-start"><b class="d-block">تجارب ميدانية ناجحة</b> منتجاتنا مثبتة الفعالية من خلال تجارب ميدانية ناجحة في مختلف البيئات الزراعية.</li>
            <li>منتجاتنا معتمدة من جهات دولية معروفة لضمان الجودة والسلامة.</li>
        </ul>
        <div class="pt-3">
            <a href="mailto:info@aramco-agri.com" class="btn btn-primary">تواصل معنا</a>
        </div>
    </div>

    <div class="showing-data-images mx-auto flex-grow-1">
        <img src="/assets/images/8d4b7a14b1.jpg" alt="">
    </div>
</div>

<!-- our location -->
<h3 class="text-center sperator pb-5 pt-0">اين تجدنا ؟</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3431.617311987267!2d30.065793!3d30.672902999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzDCsDQwJzIyLjUiTiAzMMKwMDMnNTYuOSJF!5e0!3m2!1sar!2seg!4v1719337535989!5m2!1sar!2seg" width="100%" height="450" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>