.name-of-page{
    font-family:'Cairo', Courier, monospace;
    padding-bottom: 14px;
    border-bottom: 3px solid #b1b1b1;
    border-radius: 7px;
}

.departments {
    padding-top: 221px;
    padding-bottom: 35px;
    direction: rtl;
    background-color: #eff7fd;
}

.product {
    width: 135px;
}
p-checkbox {
    margin: 14px 7px;
}
.data {
   width: 270px;
   padding: 35px 14px;
}

.data-sm{
    cursor: pointer;
}
 .product img {
    width: 100%;
 }


@media only screen and (max-width:401px) {
    .departments {
        margin-top: 125px;
    }
    .shadow-image {
        display: none;
    }

}

