<div class="agent">
    <div class="page-overlay">
        <h2 class="text-center h2 display-5 pb-3 fw-semibold text-success">
            <span class="name-of-page fw-bold display-3">
             الوكالات
            </span>
        </h2>
    </div>

    <div>
        <!-- <div class="shadow-image"></div> -->
        <div class="d-flex flex-wrap justify-content-evenly py-5">
            @for (agent of agents; track $index) {
            <a [routerLink]="['/departments', agent.id]" class="agent card text-decoration-none user-select-none cursor-pointer m-3 text-center">
                <div class="card-image">
                    <img class="card-img-top" [src]="agent.image" alt="image-name" />
                </div>
                <div class="card-body">
                    <h6 class="card-title fw-bolder">{{agent.name}}</h6>
                    <h6>البلد : {{agent.country}}</h6>
                </div>
            </a>
            }@empty {
                <div ngClass="no-data">
                    سنكون موجودين قريبا
                </div>
            }
        </div>
    </div>

</div>