<div class="company-holder">
    <h1 class="text-center py-3">تعرف على شركاء نجاحنا</h1>
    <div class="container d-flex company-agent justify-content-around pt-5 mt-2 flex-wrap">
        <a href="#" [routerLink]="['/agents']"
            class="agent card text-center d-flex align-items-center m-3 text-decoration-none">
            <h4 class="card-title">الوكالات</h4>
            <div class="overlay"></div>
        </a>

        <a href="#" [routerLink]="['/companies']"
            class="comapny card text-center d-flex align-items-center m-3 text-decoration-none">
            <h4 class="card-title">الشركات</h4>
            <div class="overlay"></div>
        </a>
    </div>
</div>